#h{
    color:blue;
}
div{
    display:flex;
}
h3{
    padding: 12px;
    flex:1;
}
div p span{
    background: #00baf2;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}
#learn
{
    text-decoration: none;
    color:black;
}
#d2{
    background-color:rgb(187, 183, 183);
    padding-left:350px;
    font-size:20px;
}

#d3 h1{
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
    margin: 0;
    padding: 0;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#d3 div{
    margin-top:20px;
    padding-top: 100px;
    width: 475px;
    margin-left: -840px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    display: flex;
}
body{
    font-family: Inter,sans-serif
}
#logo
{
    height:100px;
    width:150px;
}
#link{
    margin-top:200px;
    text-decoration:none;
    color:white;
    background-color: black;
    border-radius: 60px;
    font-size: large;
    align-items: center;
    justify-content: center;
    display:flex;
}
#link:hover{
    background-color: WHITE;
    color:black;
    border:1px solid black;
}
.img{
    width: 450px;
    position: absolute;
    top: 250px;
    right: 0;
    height:400px;
    margin-top:200px;
}